$delay: 0.5 1 1.5 2 2.5 3;

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animated {
  animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: ease-out;
}

@each $i in $delay {
  .animate-delay-#{$i} {
    animation-delay: #{$i}s;
  }
}

.animated.slow {
	animation-duration: 1.5s;
}

.animated.slower {
  animation-duration: 3s;
}

.fadeInUp {
  animation-name: fadeInUp;
}
